*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    color: #FFFFFF;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}

/* header and navigation styles */
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}


/* about style */
.about{
    margin-top: 130px;
    text-align: center;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    
}
.section-title{
    
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    

}
/* about info container style */
.about-info-container{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what i do style */
.what-i-do{
    margin-top: 130px;
    
}
.what-i-do .section-title,.section-description{
    text-align: center;
}
.skill-container{
    display: flex;
}
.skill{
    padding: 33px 35px;
    margin-right: 24px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
/* .skill:hover{
    background-color: goldenrod;
    color: #181818;
} */
.skill-title{
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
    margin-top: 30px;
}
.skill-description{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

/* Resume style */
.resume-heading{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-top: 50px;
    color: #181818;
    margin-bottom: 100px;

}
.resume-title{
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}
.resume-container{
    display: flex;
}
.education-institute{
    width: 511px;
    height: 175px;
    left: 230px;
    top: 2604px;
    margin-right: 71px;
    margin-bottom: 5px;
    border-radius: 25px;
}

.institute-name{
    font-weight: 700;
    font-size: 18px;
    color: #757575;
    margin-bottom: 20px;
    margin-top: 10px;
    
}
.education-subject{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}
.company{
    width: 511px;
    height: 175px;
    left: 230px;
    top: 2604px;
}
.job-position{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}
.company-name{
    font-weight: 700;
    font-size: 18px;
    color: #757575;
    margin-bottom: 20px;
    margin-top: 10px;
}
.resume-btn{
    text-align: center;
   margin-top: 50px;
    
}